<section class="featured-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center mt-5">
                <h2 class="text-white">Featured Post</h2>
                <p class="text-white">  Discover the latest trends and innovations in the tech world. From AI breakthroughs to cutting-edge gadgets, stay ahead with our expert insights.</p>
            </div>
        </div>

        <div class="row" >
            <div class="col-lg-3" *ngFor="let featuredPosts of FeaturedPostArray">
                <app-post-card [post]="featuredPosts"></app-post-card>
            </div>
        </div>

    </div>
</section>


<section class="container mt-5">
    <div class="col-md-12 text-center">
        <h2>Latest Posts</h2>
        <p>Stay updated with the newest trends, insights, and innovations in the tech industry.</p>
    </div>

    <div class="row">
        <div class="col-md-4 mt-3" *ngFor="let latestPost of LatestPostArray">
            <app-post-card [post]="latestPost"></app-post-card>
        </div>
    </div>


</section>